body {
    font-family: 'Montserrat', sans-serif;
}
/*Start Menu*/
.content {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
.Menu__title {
    display: flex;
    font-family: 'JOURNALISM';
    font-size: 46px;
    line-height: 37px;
    text-align: center;
    position: relative;
    margin-bottom: 67px;
}
.Menu__title:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background: #FFEE54;
    bottom: -15px;
    left: 0;
}
.Menu__container {
    width: 100%;
    overflow: hidden;

}
.slick-list {
    overflow: visible;
}
.Menu__item {
    max-width: 380px;
    padding: 30px;
    position: relative;
}
.Menu__slider {
    position: relative;
    margin-left: -30px;
}
/*.Menu__slider:before {
    position: absolute;
    content: "";
    width: 210px;
    height: 2px;
    background-color: rgba(196, 196, 196, 0.6);
    top: 138px;
    left: -180px;
}*/
.Dish {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08), -10px 0px 30px rgba(0, 0, 0, 0.08);
}
.Menu__item:first-child .Dish:after {
    position: absolute;
    content: "";
    width: 2000px;
    height: 2px;
    background-color: rgba(196, 196, 196, 0.6);
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: calc(100% - 30px);
}
.Dish__img {
    margin-left: 90px;
    margin-bottom: 15px;
}
.Dish__container {
    display: flex;
    margin-left: 25px;
    margin-bottom: 15px;
}
.Dish__title {
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 25px;
}
.Dish__button {
    width: 40px;
    height: 40px;
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: calc(100% - 1px);
    background: transparent;
    border-radius: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    outline: none;
    padding: 0 8px;
}
.Dish__button:hover {
    color: #fff;
    border-color: #FFEE54;
    background: #FFEE54;
    box-shadow: 0px 0px 0px 5px rgba(255,238,84,0.5);
}
.Menu__slider-button {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}
.Menu__slider-button button {
    background-color: transparent;
    border: none;
}
.Menu__slider-button button:hover path{
    fill: #FFEE54;
}
.Menu__button-prev {
    transform: rotateY(180deg);
    margin-right: 50px;
}
/*End Menu*/